<div class="choose-your-rig-section">
  <div class="container">
    <h2 class="section-title">Choose Your Rig</h2>
    <div class="rig-cards">
      <div class="rig-card" id="rig-1">
        <img src="{{ 'entry-thumb.png' | asset_url }}" alt="Entry Rig" width="100%" height="auto">
        <div class="rig-info">
          <h2>Entry</h2>
          <p>Best for those who want a taste of sim racing</p>
          <p class="rig-bold" style="font-weight: 900;">Click to view specs</p>
        </div>
      </div>
      <div class="rig-card" id="rig-2">
        <img src="{{ 'inter-thumb.png' | asset_url }}" alt="Intermediate Rig" width="100%" height="auto">
        <div class="rig-info">
          <h2>Intermediate</h2>
          <p>For the driver that wants to experience added realism from the help of basic motion technology</p>
          <p class="rig-bold" style="font-weight: 900;">Click to view specs</p>
        </div>
      </div>
      <div class="rig-card" id="rig-3">
        <img src="{{ 'adv-thumb.png' | asset_url }}" alt="Advanced Rig" width="100%" height="auto">
        <div class="rig-info">
          <h2>Advanced</h2>
          <p>Top-of-the-line motion simulation technology</p>
          <p class="rig-bold" style="font-weight: 900;">Click to view specs</p>
        </div>
      </div>
    </div>
    <div class="slider">
        <div class="slider-icon chevron-left">{% render 'icon-chevron-left' %}</div>
        <span class="dot" id="dot-0"></span>
        <span class="dot" id="dot-1"></span>
        <span class="dot" id="dot-2"></span>
        <div class="slider-icon chevron-right">{% render 'icon-chevron-right' %}</div>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var cardsContainer = document.querySelector('.rig-cards');
  var cards = Array.from(cardsContainer.children);
  let currentCardIndex = 1; 

  document.querySelector('.chevron-left').addEventListener('click', function() {
    rotateCards('left');
    currentCardIndex = currentCardIndex === 0 ? 2 : currentCardIndex - 1;
    updateFocus();
  });

  document.querySelector('.chevron-right').addEventListener('click', function() {
    rotateCards('right');
    currentCardIndex = currentCardIndex === 2 ? 0 : currentCardIndex + 1;
    updateFocus();
  });

  function rotateCards(direction) {
    if (direction === 'right') {
      cards.push(cards.shift());
    } else if (direction === 'left') {
      cards.unshift(cards.pop());
    }
    updateCardPositions();
  }

  function updateCardPositions() {
    cardsContainer.innerHTML = '';
    cards.forEach(card => cardsContainer.appendChild(card));
  }

  function updateFocus() {
    cards.forEach(card => card.classList.remove('focused'));
    cards[Math.floor(cards.length / 2)].classList.add('focused');
    updateDots();
  }

  function updateDots() {
    var dots = document.querySelectorAll('.dot');
    dots.forEach(dot => dot.classList.remove('focus'));
    document.getElementById('dot-' + currentCardIndex).classList.add('focus');
  }

  updateFocus(); 
});
</script>

<style>
.choose-your-rig-section {
  background-color: #10111B;
  padding: 20px;
  text-align: center;
  height: auto;
}
.choose-your-rig-section .section-title {
  color: #ffffff;
  font-size: 3.5rem;
  margin-bottom: 40px;
}
.choose-your-rig-section .slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1b1c2c;
  margin: 40px auto;
  width: 180px; 
  height: 36px;
  border-radius: 50px;
  padding: 0 5px;
}
.choose-your-rig-section .slider-icon {
  cursor: pointer;
  margin: auto;
}
.choose-your-rig-section .dot {
  height: 10px;
  width: 10px;
  margin: 0 6px;
  background-color: #38438E;
  border-radius: 50%;
  display: inline-block;
}
.choose-your-rig-section .dot.focus {
  background-color: #fff;
  transform: scale(1);
}
.choose-your-rig-section .rig-cards {
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in-out; 
  width: 100%;
  gap: 40px;
}
.choose-your-rig-section .rig-card {
  transition: all 0.5s ease-in-out;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  width: 27%;
  height: 330px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.choose-your-rig-section .rig-card.focused {
    transform: scale(1.1);
    z-index: 10; 
    transition: transform 0.3s ease-in-out;
}
.choose-your-rig-section .rig-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #ffffff;
  padding: 10px;
  padding-left: 15px;
  text-align: left;
}
.choose-your-rig-section .rig-info h2 {
  color: #10111B;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 10px;
}
.choose-your-rig-section .rig-info p {
  font-size: 1rem;
  font-weight: 400;
  color: #10111B;
}
.choose-your-rig-section .rig-bold {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
</style>

{% schema %}
{
  "name": "Choose Your Rig",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Choose Your Rig"
    }
  ]
}
{% endschema %}