.location-hours-section {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}

.info-and-map__grid {
  padding-top: 60px;
  padding-bottom: 60px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'info map';

}

.info-and-map__grid .map {
  grid-area: map;
  border-radius: 8px;
}

.info-and-map__grid .info {
  grid-area: info;
}

.hours-grid {
  max-width: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.day {
  grid-column: 1;
  margin: 0;
}

.hours {
  grid-column: 2;
  margin: 0;
}

.info-and-map__grid .icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon-with-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 749px) {
  .info-and-map__grid {
    grid-template-columns: 1fr;
    grid-template-areas: 
      'info'
      'map';
    gap: 50px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-with-text {
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  
}