.choose-your-rig-section {
  background-color: #10111B;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  height: 100%;
}
.choose-your-rig-section .section-title {
  color: #ffff;
  font-size: 3.5rem;
  margin-bottom: 40px;
}

.choose-your-rig-section .rig-cards {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 25px;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;

}
.choose-your-rig-section .rig-card {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: center;

  transition: all 0.3s ease-in-out;

  background-color: rgb(var(--color-background));
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: 80vw;
  max-width: 400px;
  min-height: 450px;
  max-height: 800px;
  height: 100%;

}

@media screen and (min-width: 950px) {
  .choose-your-rig-section {
    height: 900px;
  }

  .choose-your-rig-section .rig-cards {
    padding: 20px;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out; 
    overflow-x: hidden;
    width: 100%;
    gap: 25px;
  }
  
  .choose-your-rig-section .rig-card {
    width: 33%;
    flex-shrink: 1;
    
  }
  
}

.card-media {
  width: 100%;
}

.card-video {
  width: 100%;
}

.choose-your-rig-section .rig-card.focused {
    transform: scale(1.1);
    z-index: 10; 
    
    padding: 2px;
    max-height: 500px;
}
.choose-your-rig-section .rig-info {
  bottom: 0;
  width: 100%;
  height: 62%; 
  background-color: rgb(var(--color-background));
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 20px;
  text-align: left;
  flex-grow: 1;
}

.choose-your-rig-section .rig-card.focused.clicked .rig-info {
  height: 85%;
  overflow: auto;
  overflow-wrap: normal;
}

.rig-info--expanded {
  height: 100%;
}

.choose-your-rig-section .rig-info h2 {
  color: rgb(var(--color-foreground));
  margin-top: 0px;
  margin-bottom: 10px;
}
.choose-your-rig-section .rig-info p {
  color: rgb(var(--color-foreground));
  white-space: pre-line;
  margin-top: 0;
  margin-bottom: 0;
}

.extra-specs--hidden {
  display: none;
}

.extra-specs--show {
  display: block;
  overflow-wrap: break-word;
}

.choose-your-rig-section .buttons {
  display: flex;
  flex-direction: row;
}

.choose-your-rig-section .card-button {
  margin: 5px;
  cursor: pointer;
}